name: Test api.cspapers.org
permissions:
  contents: read
on:
  push:
    paths:
      - '.github/workflows/test.yml'
      - 'api.cspapers.org/**'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21.x' ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Display Go version
        run: |
          make lemmas -B
          go test api.cspapers.org/wordforms/wordforms_test.go 
